.homeworkFormWrapper {
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 50px;
    padding-bottom: 150px;
}

.description {
    color: grey;
}

.title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.sectionTitle {
    font-weight: bold;
    font-size: large;
    margin-top: 15px;
}

iframe{
    display: none;
}

.guideTable {
    padding: 5px;
    margin-left: 35px;
    margin-right: 550px !important;
    /* margin: 0 auto ; */
    border-collapse: separate !important;
    width: 90%;
    font-size: 80%;
    background-color: rgb(250, 247, 243);
    border-radius: 10px;
}

.optionCol {
    width: 20% !important;
    text-align: center;
}

.inputField {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    width: 100%;
}

.submitButton {
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

.note {
    font-weight: bold;
}

.jsonOutput {
    background-color: rgb(250, 247, 243);
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    margin-top: 5px;
}

.questionPoints {
    color: grey;
}