.homeworkFormWrapper {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    padding-bottom: 150px;
}

.title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.sectionTitle {
    font-weight: bold;
    font-size: large;
}

iframe{
    display: none;
}

.guideTable {
    /* margin: 0 auto ; */
    border-collapse: separate !important;
    table-layout:fixed;
    width: 100%;
    font-size: 75%;
    background-color: rgb(250, 247, 243);
    padding: 5px;
    border-radius: 10px;
}

.optionCol {
    width: 10% !important;
}

