@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.indexWrapper {
    padding: 50px;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    color: black;
    margin: auto 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.description {
    font-size: larger;
    color: grey;
    margin-bottom: 30px;
}

.homeworkTable {
    border-collapse: separate !important;
    border-radius: 50px;
    table-layout:fixed;
    width: 100%;
}
  table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}